

body {
    font-size:1.75em;
    line-height: 1.75em;
    background: rgb(45,88,84);
}

/* ---------- Miscellaneous ---------- */

/* Stick Navbar */
.anchor {
    display:block;
    position:relative;
    top: -60px;
    visibility: hidden;
}

/* ---------- Navbar ---------- */
.main-header{
    display:flex;
    background-color:white;
    margin-bottom:20px;
    align-items: center;

    /* Stick Navbar */
    z-index:10;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Sticky Navbar */
#content {
    margin-top:75px;
}

.logo {
    padding-left:20px;
    height:100%;
}

nav ul {
    display:flex;
    margin:0;
    height:100%;
}
nav li {
    list-style-type: none;
    margin:0px;
    padding:10px 20px 10px 20px;
    font-size:20px;
    font-weight: bold;
    border-bottom:5px solid transparent;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover{
    color:black;
}

nav li:hover {
    border-bottom: 5px solid black;
    
}


/*---------- Navbar Overlay ---------- */

#overlay-toggle {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 20px 0 20px 0;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
    min-width:200px;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*---------- Entry Cards ----------*/

.entry-card{
    background-color:white;
    border-radius:5px;
    min-height: 0px;
    margin: auto;
    margin-bottom: 20px;
    width:80%;
    position:relative;
    
}

.entry-card img {
    width:100%;
}

.entry-title {
    padding: 20px 40px 10px 40px;
    margin-bottom:10px;
    font-size:34px;
}

.entry-title a {
    text-decoration: none;
    color:inherit;
}

.entry-description {
    padding: 0 40px 20px 40px;
}

.entry-description p {
    margin-bottom: 20px;
}

.entry-content {
    padding: 0 40px 20px 40px;
}

.entry-card hr {
    margin:0px;
}

.entry-footer {
    padding: 20px 0 20px 40px;
    bottom:0;
    font-style: italic;
    color:rgb(145, 145, 145);
}

/*---------- Project Card ----------*/

#projects {
    height:100%;
}

.project-card {
    background-color:white;
    border-radius:5px;
    margin-bottom:40px;
    padding:5px;

}

.project-card-title {
    text-align: center;
    font-weight: bold;
}

.project-card img {
    width: 100%;
}

/*---------- About Me ----------*/

#about-me .entry-title {
    margin:0px;
}

#about-me {
    padding-bottom:20px;
}

#about-me img {
    width:100px;
    border-radius: 50%;
}

#about-me-content{
    display:flex;
}

#about-me-photo {
    margin-left:40px;
}

#about-me-name {
    display: inline-block;
    text-align: center;
    font-size: .9em;
    width:100%;
}

#about-me-city {
    display: inline-block;
    text-align: center;
    font-size: .7em;
    width:100%;
}

/*---------- Contact Card ----------*/

.contact-card .entry-title {
    margin:0px;
}

#contact-form {
    padding: 0 40px 0 40px;
}

#contact-form textarea {
    width:100%;
    height:200px;
    margin-right:40px;
    resize:none;
}

/*---------- Media Queries ----------*/
@media only screen and (max-width: 600px){
    
    /*---------- Navbar ----------*/
    .main-header{
        display: flex;
        text-align: center;
    }
    
    nav li {
        width:100%;
    }

    .main-header nav {
        float:right;
        padding-right:30px;
    }

    .main-header nav ul {
        display:none;
    }

    #overlay-toggle {
        display: inline;
        font-size:40px;
        cursor:pointer;
    }

    /*---------- Entry Cards ----------*/
    .entry-card {
        width:100%;
    }

    .entry-title {
        padding-left:20px;
        padding-right:20px;
    }

    .entry-description {
        padding:0px 20px 20px 20px;
    }

    .entry-content {
        padding:0px 20px 20px 20px;
    }

    .entry-footer {
        padding-left:20px;
        padding-right:20px;
    }

    /*---------- About Me ----------*/
    #about-me-title {
        text-align: center;
    }

    #about-me-content {
        display:block;
    }

    #about-me-photo {
        text-align: center;
        padding-bottom:20px;
        padding-right:40px;
    }

    /*---------- Contact Form ----------*/

    #contact-form {
        padding-left:20px;
        padding-right:20px;
    }
}

@media (min-width: 400px){
    .container {
        width: 90%;
    }
}