
html, body {
    height:100%;
    width:100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    
}

body {
    font-size:1.75em;
    line-height: 1.75em;
    background:white;

}

/* ---------- Miscellaneous ---------- */

/* Stick Navbar */
.anchor {
    display:block;
    position:relative;
    top: -60px;
    visibility: hidden;
}

.container{
    text-align: center;
}

/*---------- Buttons ---------- */

input[type=submit] {
    background-color:#5E7845 ;
    color:white;
    border-color:transparent;
}

/* ---------- Navbar ---------- */
.main-header{
    display:flex;
    background-color:white;
    background-color: #2B3B43;
 
    align-items: center;

    /* Stick Navbar */
    z-index:10;
    overflow: none;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Sticky Navbar */
#content {
    padding-top:75px;
    
}

.logo {
    padding-left:20px;
    height:45px;
    vertical-align: middle;
}

nav ul {
    display:flex;
    margin:0;
    height:100%;
}
nav li {
    list-style-type: none;
    margin:0px;
    padding:10px 20px 10px 20px;
    font-size:20px;

    border-bottom:5px solid transparent;
}

.active {
    border-bottom: 5px solid white;
}

.active-overlay {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color:black;
    color:white;
}

nav a:hover{
    color:white;
}

nav li:hover {
    font-weight: bold;
    
}


/*---------- Navbar Overlay ---------- */

#overlay-toggle {
    display: none;
    color:white;
}

#overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  #overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  #overlay a {
    padding: 20px 0 20px 0;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
    min-width:200px;
  }

  #overlay a:hover, #overlay a:focus {
    color: #36454F;
    font-weight: bold;
  }
  
  #overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*---------- Post Cards ----------*/

.post-card{
    background-color:white;
    border-radius:5px;
    min-height: 0px;
    margin: auto;
    margin-bottom: 20px;
    width:80%;
    display:inline-block;
}

.post-card img {
    float:left;
    margin-top:10px;
    margin-left: 20px;
    object-fit: scale-down;
    border-radius: 5px;
    width:20%;
}

.post-preview {
    margin-left:20px;
    overflow:hidden;

    min-height: 200px;
    max-height: 200px;
}

.post-title {
    padding: 0px 40px 0px 40px;
    margin-bottom:5px;
    font-size:34px;
    font-family: 'Karla', sans-serif;
    text-align: left;
}

.post-description {
    padding: 0 40px 0px 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.post-title:hover {
    color:#5E7845;
}

.post-title a {
    text-decoration: none;
    color:inherit;
}

.post-description p {
    margin-bottom: 10px;
}

.post-content {
    padding: 0 40px 20px 40px;
}

.post-card hr {
    margin:0px;
}

.post-footer {
    padding: 10px 40px 20px 40px;
    bottom:0;
    font-style: italic;
    font-size:.8em;
    color:rgb(145, 145, 145);
}

.post-footer span {
    float:right;
}

/*---------- Post Detail ----------*/

.post-detail-card {
    background-color:white;
    border-radius:5px;
    margin: auto;
    margin-bottom: 20px;
    width:80%;
    text-align: left;
}

.post-detail-title {
    margin-bottom: 0px;
    width:100%;
}

.post-detail-info {
    font-style: italic;
    font-size: .9em;
    margin-bottom: 20px;
}

/*---------- Project Card ----------*/

.project-card {
    background-color:white;
    border-radius:5px;
    margin-bottom:40px;
    padding:5px;

}

.project-card-title {
    text-align: center;
    font-weight: bold;
}

.project-card img {
    width: 100%;
}

/*---------- About Me ----------*/

#about-me-card {
    margin-left:20%;
    margin-right:20%;
}

#about-me-card img {
    border-radius:5px;
    margin-bottom: 20px;
}

#about-me-card p {
   text-align: left;
}

/*---------- Contact ----------*/


#contact-form {
    padding: 0 40px 0 40px;
    text-align: left;
}


#id_message {
    width:100%;
    height:200px;
    margin-right:40px;
    resize:none;
}

/*---------- Footer ---------- */

.container {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
}

footer {

    height:30px;
    background-color:#2B3B43;
    text-align:center;
    color:white;
    font-style:italic;
    font-size:.75em;
}

/*---------- Media Queries ----------*/
@media only screen and (max-width: 600px){
    
    /*---------- Navbar ----------*/
    .main-header{
        display: flex;
        text-align: center;
    }
    
    nav li {
        width:100%;
    }

    .main-header nav {
        float:right;
        padding-right:30px;
    }

    .main-header nav ul {
        display:none;
    }

    #overlay-toggle {
        display: inline;
        font-size:40px;
        cursor:pointer;
    }

    /*---------- Post Cards ----------*/
    .post-card {
        width:95%;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .post-card img {
        display:none;
    }

    .post-title, .post-description {
       padding:0px;
    }

    .post-footer {
        padding-left:20px;
        padding-right:20px;
    }

    /*---------- Post Detail ----------*/

    .post-detail-card {
        width:95%;
    }
    
    .post-detail-title, .post-detail-info, .post-detail-content {
        padding: 0 10px 0 10px;
    }

    /*---------- About Me ----------*/

    #about-me-card {
        margin: 0 20px 0 20px;
    }

    /*---------- Contact Form ----------*/

    #contact-form {
        padding-left:20px;
        padding-right:20px;
        
    }

    #name, #email {
        width:100%;
    }
    
}

@media (min-width: 400px){
    .container {
        width: 100%;
    }
}


