
html, body {
    height:100%;
    width:100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    
}

body {
    font-size:1.75em;
    line-height: 1.75em;
    background:white;
}

/* ---------- Miscellaneous ---------- */

/* Sticky Navbar */
.anchor {
    display:block;
    position:relative;
    top: -60px;
    visibility: hidden;
}

#content {
    max-width: 1280px;
}


/*---------- Buttons ---------- */

input[type=submit] {
    background-color:  #99ce64;
    color:white;
    border-color:transparent;
    font-family: 'Karla', sans-serif;
}

/* ---------- Navbar ---------- */
.main-header{
    display:flex;
    background-color:white;
    background-color: #2B3B43;
    align-items: center;
    
    /* Stick Navbar */
    z-index:10;
    overflow: none;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Sticky Navbar */
#content, #blog-content {
    padding-top:75px;
}

.logo {
    padding-left:20px;
    height:45px;
    vertical-align: middle;
}

nav ul {
    display:flex;
    margin:0;
    height:100%;
}
nav li {
    list-style-type: none;
    margin:0px;
    padding:10px 20px 10px 20px;
    font-size:20px;
    border-bottom:5px solid transparent;
}

.active {
    border-bottom: 5px solid white;
}

.active-overlay {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color:black;
    color:white;
}

nav a:hover{
    color:white;
}

nav li:hover {
    font-weight: bold;
}


/*---------- Navbar Overlay ---------- */

#overlay-toggle {
    display: none;
    color:white;
}

#overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(255,255,255);
    overflow-y: hidden;
    transition: 0.5s;
    max-height: 100%;
  }
  
  #overlay-content {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top:45px;
  }
  
  #overlay a {
    padding: 10px 0 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    display: block;
    transition: height 0.3s;
    min-width:200px;
  }

  #overlay a:hover, #overlay a:focus {
    color: #36454F;
    font-weight: bold;
  }
  
  #overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



/*---------- Blog ----------*/

#blog-posts{
    text-align: left;
    width:70%;
    display: inline-block;
}

.post-card{
    background-color:white;
    border-radius:5px;
    min-height: 0px;
    margin: auto;
    margin-bottom: 30px;
    display:inline-block;
}

.post-card img {
    float:left;
    margin-right:20px;
    min-height: 200px;
    height:100%;
    object-fit: scale-down;
    border-radius: 5px;
    width:15%;
}

.post-preview {
    margin-left:20px;
    

}

.post-title {
    padding: 0px 40px 0px 40px;
    margin-bottom:5px;
    font-size:34px;
    font-family: 'Karla', sans-serif;
    text-align: left;
}

.post-description {
    padding: 0 40px 0px 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    text-overflow: hidden;
}

.line-clamp {
    display:-webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.post-title:hover {
    color:#5E7845;
}

.post-preview a {
    text-decoration: none;
    color:inherit;
}

.post-description p {
    margin-bottom: 10px;
}

.post-content {
    padding: 0 40px 20px 40px;
}

.post-card hr {
    margin:0px;
}

.post-footer {
    padding: 10px 40px 20px 40px;
    bottom:0;
    font-style: italic;
    font-size:.8em;
    color:rgb(145, 145, 145);
}

.post-footer span {
    float:right;
}

.blog-list-ad {
    height:100px;
    width:60%;
    text-align:center;
    margin: auto;
    margin-bottom:30px;
    margin-left:25%;
    background-color:#99ccff;
}

/*---------- Post Detail ----------*/

#post-detail {
    display: inline-block;
    text-align: left;
    width:70%;
}

.post-detail-card {
    background-color:white;
    border-radius:5px;
    margin: auto;
    margin-bottom: 20px;
    margin-right:10%;
    text-align: left;
}

.post-detail-title {
    margin-bottom: 0px;
    width:100%;
}

.post-detail-info {
    font-style: italic;
    font-size: .9em;
    margin-bottom: 20px;
}

.post-detail-content img {
    display:block;
    margin: 20px auto;
    max-width:100%;
}

/*---------- Portfolio ----------*/

#portfolio-description {
    padding-right:40px;
}

#project-list {
    display: inline-block;
    text-align: left;
    width:70%;
}

.project-card {
    background-color:white;
    border-radius:5px;
    margin-bottom:40px;
    padding:0px;
    position:relative;
}

.project-card-title {
    text-align: center;
    font-size:1.25em;
    font-family: 'Karla', sans-serif;
    padding-bottom:10px;
}

.project-card img {
    width: 100%;
}

.project-popup {
    position:absolute;
    bottom:0;
    height:0px;
    visibility:hidden;
    width:100%;
    overflow:hidden;
    opacity:.1;
    background-color: rgb(0,0,0,0);

}
.project-card:hover .project-popup{
    visibility: visible;
    height:30px;
    opacity: 1;
    transition: opacity .75s, height .75s;
    background-color: rgb(0,0,0,.8);
}

.project-card:not(:hover) .project-popup{
    visibility: visible;
    height:0px;
    opacity: 0;
    transition: opacity .75s, height .75s;
    background-color: rgb(0,0,0,.8);
}

.popup-link-left, .popup-link-right {
    color:white;
    font-size: .8em;
    text-decoration: none;
}
.popup-link-left:hover, .popup-link-right:hover {
    font-weight: bold;
    color:white;
}

.popup-link-left {
    float:left;
    padding-left:15px;
}

.popup-link-right {
    float:right;
    padding-right:15px;
}

/*---------- About ----------*/

#about {
    display: inline-block;
    text-align: left;
    width:70%;
}

#about-card {
    margin-right:10%;
    text-align: left;
}


#about-card img {
    border-radius:5px;
    margin-right:20px;
    float:left;
}

#about-card p {
   text-align: left;
}

/*---------- Contact ----------*/

#contact-me {
    display: inline-block;
    text-align: left;
    width:70%;
}

#contact-card {
    background-color:white;
    border-radius:5px;
    min-height: 0px;
    margin: auto;
    margin-bottom: 20px;
}

#contact-form {
    margin-left:0;
    margin-right:20%;
    text-align: left;
}


#id_message {
    width:100%;
    height:200px;
    margin-right:40px;
    resize:none;
}

/*---------- Popular Posts ----------*/

#popular-posts {
    text-align: left;
    display: inline-block;
}

#popular-title {
    font-weight: bold;
    padding: 5px 0 5px 20px;
    border-radius:5px;
}

/*---------- Sidebar ----------*/

#sidebar {
    display: inline-block;
    vertical-align: top;
    width:25%;
    padding-bottom:20px; 
}

#sidebar-top-ad {
    height:300px;
    margin: 0 30px 30px 30px;
    background-color:#99ccff;
}

#sidebar-bottom-ad {
    height:300px;
    margin: 30px 30px 30px 30px;
    background-color:#99ccff;
}

.sidebar-banner {
    background-color: #a6d477;
    color:white;
    font-weight: bold;
    
}

.sidebar-banner {
    padding: 5px 10px 5px 10px;
    font-size:1.2em;
    margin-bottom: 5px;
    font-family: 'Karla', sans-serif;
}

#sidebar-popular li {
    list-style: none;
    padding-left:10px;
    margin-bottom: 5px;
    font-size: .9em;
}

#sidebar-popular a {
    text-decoration: none;
    color:black;
}

#sidebar-popular a:hover {
    color:#5E7845;
}

#sidebar-popular hr {
    margin:0;
}

.tag {
    text-decoration: none;
    color:black;
    display:inline;
    border-radius: 8px;
    font-size: .8em;
    padding: 5px;
    background-color: #ffe6e6;
}

.tag:hover {
    background-color:#ffcccc;
    color:black;
}

/*---------- Footer ---------- */

.container {
    min-height: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;
}

footer {
    width:100%;
    height:30px;
    background-color:#2B3B43;
    text-align:center;
    color:white;
    font-style:italic;
    font-size:.75em;
}

#footer-content {
    max-width:1280px;
    margin:auto;
    text-align: left;
}

/*---------- Media Queries ----------*/
@media only screen and (max-width: 600px){
    
    /*---------- Navbar ----------*/
    .main-header{
        display: flex;
        text-align: center;
    }
    
    nav li {
        width:100%;
    }

    .main-header nav {
        float:right;
        padding-right:30px;
    }

    .main-header nav ul {
        display:none;
    }

    #overlay-toggle {
        display: inline;
        font-size:40px;
        cursor:pointer;
    }

    #overlay a:hover{
        color: black;
        font-weight: normal;
      }

    /*---------- Blog ----------*/
    
    #blog-posts {
        width:100%;
    }
    
    .post-card {
        width:95%;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .post-card img {
        display:none;
    }

    .post-title, .post-description {
       padding:0px;
    }

    .post-footer {
        padding-left:20px;
        padding-right:20px;
    }

    .blog-list-ad {
        width:80%;
        margin:auto;
        margin-bottom:50px;
    }

    /*---------- Post Detail ----------*/

    #post-detail {
        width:100%;
        margin: 0 30px 0 30px;
    }

    .post-detail-card {
        width:95%;
    }
    
    .post-detail-title, .post-detail-info, .post-detail-content {
        padding: 0 10px 0 10px;
    }

    /*--------- Portfolio ----------*/
    
    #portfolio-description {
        padding: 0 20px 0 20px;
    }

    #project-list {
        width:95%;
    }

    .project-card-title {
        font-size:1.5em;
    }

    .project-popup {
        padding-top:5px;
    }

    .project-card:hover .project-popup{
        height: 40px;
    }

    .popup-link-left, .popup-link-right {
        font-size:1.5em;
    }

    /*---------- About ----------*/

    #about {
        width:95%;
        
    }

    #about-card {
        margin: 0 20px 0 20px;
    }

    /*---------- Contact ----------*/

    #contact-me {
        width:95%;
    }

    #contact-form {
        padding-left:20px;
        padding-right:20px;
        margin: 0;
    }

    #name, #email {
        width:100%;
    }


    /*---------- Sidebar ---------*/
    #sidebar {
        display: block;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    /*---------- Footer ----------*/
    #footer-content {
        margin-left:5%;
    }
}

@media (min-width: 400px){
    .container {
        width: 100%;
    }

    .columns {
        margin-left:2.5%
    }
}
