{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div id="content" class="container">
    <div id="about">
        <div class="row">
            <div id="about-card">
                {% if photo %}
                    <img id="user-image" src="/media/{{photo.image.name}}">
                {% else %}
                    <img id="user-image" src="{% static 'blog/user.jpg'%}">
                {% endif %}
                {% if content %}
                    {{ content.content | safe }}
                {% else %}
                    <p>Portfolio content here.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Sidebar -->
    {% include "blog/sidebar.html" %}
</div>
{% endblock %}