<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CodeDeejay</title>
        <meta name="description" content="Starter Template">
        {% load static %}
        <!-- External CSS -->
        <link rel="stylesheet" href="{% static 'blog/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'blog/skeleton.css' %}">
        <!-- My CSS -->
        <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    </head>
    <body>
        <header class="main-header">
            <!--<div class="logo">CodeDeejay</div>-->
            <a href="#"><img class="logo" src="{% static 'blog/logo-small.png' %}"></a>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <style>
            /* Inline styling not ideal but necessary to load static background image w/ Django */
            body {
                background-image: url("{% static 'blog/triangles.png' %}");
                background-repeat:no-repeat;
                background-size:cover;
                background-attachment: fixed;
            }
        </style>
        <!-- Page content here -->
        {% block content %}{% endblock %}
    </body>
</html>