{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CodeDeejay</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, , maximum-scale=1.0, user-scalable=no">
        <!-- External CSS -->
        <link rel="stylesheet" href="{% static 'blog/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'blog/skeleton.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Karla:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
        <!-- My CSS -->
        <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    </head>
    <body>
        {% include "blog/navbar.html" %}
        <!-- Page Content -->
        {% block content %}{% endblock %}
        <!-- Footer -->
        <footer><div id="footer-content">&copy; D.J. Leedke 2020</div></footer>
        <!-- External JS -->
        <!-- My JS -->
        <script src="{% static 'blog/blog.js' %}"></script>
    </body>
</html>


