{% extends 'blog/base.html' %}
{% block content %}
<div class="row">
    <div class="post-card">
        <form id="contact-form" action="/contact/" method="post">
            {% csrf_token %}
            <div>
                {{ form.name.errors}}
                <label for="{{ form.name.id_forlabel }}">Name:</label>
                {{ form.name }}
            </div>
            <div>
                {{ form.email.errors}}
                <label for="{{ form.email.id_forlabel }}">Email:</label>
                {{ form.email }}
            </div>
            <div>
                {{ form.message.errors}}
                <label for="{{ form.message.id_forlabel }}">Message:</label>
                {{ form.message }}
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}