{% extends 'blog/base.html' %}
{% block title %}
<title>CodeDeejay - Contact</title>
{% endblock %}
{% block content %}
<div id="content" class="container">
    <div class="main">
        <div id="contact-card">
            <form id="contact-form" action="/contact/" method="post">
                {% if content %}
                    {{ content.content | safe }}
                {% else %}
                    <p>Contact content here.</p>
                {% endif %}
                {% csrf_token %}
                <div>
                    {{ form.name.errors}}
                    <label for="{{ form.name.id_forlabel }}">Name:</label>
                    {{ form.name }}
                </div>
                <div>
                    {{ form.email.errors}}
                    <label for="{{ form.email.id_forlabel }}">Email:</label>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.message.errors}}
                    <label for="{{ form.message.id_forlabel }}">Message:</label>
                    {{ form.message }}
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <!-- Sidebar -->
    {% include "blog/sidebar.html" %}
</div>
{% endblock %}