{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div id="content" class="container">
<!-- Blog Posts -->
    <div id="blog-posts">
        {% for post in posts %}
            {% if post.status == 1 %}
                <div class="row">
                    <div class="post-card">
                        <img src="{% static 'blog/python-logo.png' %}">
                        <div class="post-preview">
                            <h1 class="post-title"><a href="/{{post.slug}}">{{post.title}}</a></h1>
                            <div class="post-description">
                                {{post.description | safe}}  
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Sidebar -->
    {% include "blog/sidebar.html" %}
</div>
{% endblock %}