{% load static %}
<!-- Mobile Overlay-->
<div id="overlay">
    <div id="overlay-content">
        <a {% if request.path == "/" %}class="active-overlay"{% endif %} href="/" onclick="toggleNav()">Blog</a>
        <a {% if request.path == "/portfolio/" %}class="active-overlay"{% endif %} href="/portfolio">Portfolio</a>
        <a {% if request.path == "/about/" %}class="active-overlay"{% endif %} href="/about" onclick="toggleNav()">About Me</a>
        <a {% if request.path == "/contact/" %}class="active-overlay"{% endif %} href="/contact"  onclick="toggleNav()">Contact</a>
    </div>
</div>
<!-- Navbar -->
<header class="main-header">
    <a href="/"><img class="logo" src="{% static 'blog/logo.png' %}"></a>
    <div class="container">
        <nav>
            <ul>
                <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Blog</a></li>
                <li {% if request.path == "/portfolio/" %}class="active"{% endif %}><a href="/portfolio">Portfolio</a></li>
                <li {% if request.path == "/about/" %}class="active"{% endif %}><a href="/about">About</a></li>
                <li {% if request.path == "/contact/" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
            </ul>
            <span id="overlay-toggle" onclick="toggleNav()">&#9776;</span>
        </nav>
    </div>
</header>