<div id="popular-posts">
    <h3 id="popular-title">Popular Posts</h3>
        {% for post in popular_posts %}
            <div class="post-card">
                {% if post.post_icon %}
                <img src="/media/{{ post.post_icon.image.name }}">
                {% else %}
                <img>
                {% endif %}
                <div class="post-preview">
                    <a href="/{{post.slug}}">
                        <h1 class="post-title">{{post.title}}</h1>
                        <div class="post-description">
                            {{post.description | safe}}  
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
</div>