{% extends 'blog/base.html' %}
{% block content %}
<!-- Projects -->
<div class="row">
    <div class="three columns project-card">
        <div class="project-card-title">CodeDeejay.com</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">News App</div>
        <img src="/static/blog/news-app-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">TweetryDish</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">Project</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
</div>
<div class="row">
    <div class="three columns project-card">
        <div class="project-card-title">Project</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">Project</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">Project</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
    <div class="three columns project-card">
        <div class="project-card-title">Project</div>
        <img src="/static/blog/code-deejay-project.png">
    </div>
</div>
{% endblock %}