<div id="sidebar">
    <div id="sidebar-top-ad"></div>
    <div id="sidebar-popular">
        <h3 class="sidebar-banner">Popular Posts</h3>
        <ul>
            <li>A Place for All the Things</li>
            <hr>
            <li>Extra! Extra! Read All About It!</li>
            <hr>
            <li>This is a Placeholder Title</li>
            <hr>
            <li>Lorem Ipsum Aliquam Erat</li>
            <hr>
            <li>Post 5</li>
            <hr>
        </ul>    
    </div>
    <div id="sidebar-tags">
        <h3 class="sidebar-banner">Tags</h3>
        {% for tag in tags %}
            <div class="tag">{{tag.name}}</div> 
        {% endfor %}
    </div>
</div>