<div id="sidebar">
    <div id="sidebar-top-ad"></div>
    <div id="sidebar-popular">
        <h3 class="sidebar-banner">Popular Posts</h3>
        <ul>
            {% for post in popular_posts %}
                <li><a href="/{{post.slug}}">{{post.title}}</a></li>
                <hr>
            {% endfor %}   
        </ul>    
    </div>
    <div id="sidebar-tags">
        <h3 class="sidebar-banner">Tags</h3>
        {% for tag in tags %}
            <a class="tag" href="/tags/{{tag.slug}}">{{tag.name}}</a>
        {% endfor %}
    </div>
    <div id="sidebar-bottom-ad"></div>
</div>